*{
    margin: 0;
    padding: 0;
    font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L', sans-serif;
    box-sizing: border-box;
}
.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#e7baff, #c2b6d9);
    display: flex;
    align-content: center;
    justify-content: center;
    <html> <head> <style> div

{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

</style >
</head >
<body >

<h1 > CSS Animation</h1 >

<div > </div >

<p > <b > Note:</b > When an animation is finished, it goes back to its original style.</p >

</body >
</html >
}
